<!DOCTYPE html>
<html>
<head>
    <title>DSA Revision Scheduler</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>DSA Revision Scheduler</h1>

    <div class="dashboard">

        <div class="card">
            <h3>Total Problems</h3>
            <p id="total-problems">0</p>
        </div>

        <div class="card">
            <h3>Pending Revisions</h3>
            <p id="pending-revisions">0</p>
        </div>

    </div>

    <script src="/static/script.js"></script>

</body>
</html>